{#navPages#}
{#
Example:
{% import '_chunks/_macros' as macros %}
 <nav>{{ macros.navPages(subNavigation,entry,'nav-contextual list-unstyled') }}</nav>
#}
{% macro navPages(entries,currententry,ulClasses) %}
    <ul class="{{ulClasses}}">
    {% for page in entries %}
        {% set pageIsActive = false %}
        {% if currententry is defined %}
            {% set pageIsActive = (page.id == currententry.id) %}
            {% if pageIsActive==false %}
                {% set pageIsActive = page.isAncestorOf(currententry) %}
            {% endif %}
        {% endif %}
        {% if page.hideFromNavigation == 0 %}<li{{pageIsActive?' class="active"':''}}><a href="{{ page.url }}">{{ page.title }} <i class="fa fa-angle-right"></i></a>
            {% if page.getChildren()|length>0 %}
                {{ _self.navPages(page.getChildren(),currententry,'childlist list-unstyled') }}
            {% endif %}
        </li>{% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

