{# Additional content Matrix #}
{% for block in entry.additionalContent %}				
	{% if block.type == "sectionTitle" %}
	<div class="row">
		<div class="col-xs-12">
			<h2>{{ block.titleBlock }}</h2>
		</div>
	</div>

	{% elseif block.type == "sectionContent" %}

	<div class="row">
		<div class="col-xs-12">
			{{ block.contentBlock }}
		</div>
	</div>

	{% elseif block.type == "youtubeEmbed" %}

	<div class="row">
		<div class="col-xs-12">
			<h3>{{ block.videoTitle }}</h3>
			<div class="row">
				<div class="col-md-12 col-lg-9">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="853" height="480" src="https://www.youtube.com/embed/{{ block.embedCode }}?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% elseif block.type == "singleImage" %}

	<div class="row">
		<div class="col-xs-12 singleImage">
			{% for image in block.image %}
			{% set pageImage = { mode: 'scale', width: 1200, height: 650, quality: 65 } %}
			<img src="{{ image.getUrl(pageImage) }}" width="{{ image.getWidth(pageImage) }}" height="{{ image.getHeight(pageImage) }}" alt="{{ image.altText }}">
			{% if block.caption %}<p class="img-caption">{{ block.caption }}</p>{% endif %}
			{% endfor %}
		</div>
	</div>	

	{% elseif block.type == "slideshow" %}

	<div class="row">
		<div class="col-xs-12">
			<div class="slideWrap"> 
				{% for image in block.image %}
				{% set pageImage = { mode: 'scale', width: 1200, height: 650, quality: 65 } %}
				<div><img src="{{ image.getUrl(pageImage) }}" width="{{ image.getWidth(pageImage) }}" height="{{ image.getHeight(pageImage) }}" alt="{{ image.altText }}"></div>
				{% endfor %}
			</div>
			{% if block.caption %}<p class="img-caption">{{ block.caption }}</p>{% endif %}
		</div>
	</div>

	{% elseif block.type == "pullQuote" %}	
	<div class="row">
		<div class="col-xs-12">
			<blockquote class="animated" data-animation="fadeIn" data-animation-delay="400">
				<p>{{ block.quote }}</p>
				<footer><cite title="Source Title">{{ block.author }}</cite></footer>
			</blockquote>
		</div>
	</div>
	{% endif %}
{% endfor %}
