<section class="booking-promo row">
	<div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-2">
		<h3>Contact us today to make a booking</h3>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<a href="{{ craft.entries.id(2738).first().url }}" class="btn btn-default btn-lg"><i class="fa fa-calendar"></i> Make a booking</a>
	</div>
</section>