{% import '_chunks/_macros' as macros %}

{% set startEntry = entry.getAncestors.level(1).first() %} 
{# {% set entries = craft.entries.section('siteContent').hideFromNavigation('not 1').level(1)  %} #}
{% if not startEntry %}
    {% set startEntry = entry %} 
{% endif %}

{% set subNavigation = startEntry.getChildren() %}

{% if subNavigation | length %}
    <h4 class="sidebarTitle">{{ startEntry.title }}</h4>
    <nav>{{ macros.navPages(subNavigation,entry,'nav-contextual list-unstyled') }}</nav>
{% endif %}