<footer class="site-foot row" role="contentinfo">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			<div class="col-lg-3">
				<h4>{{ siteName }}</h4>
			</div>
			<div class="col-lg-9">
				{{ companyInfo.contactTelephoneNumbers }}
				<ul class="list-inline social-links">
					{% for row in socialMediaLinks.socialMediaAccounts %}
						<li><a href="{{ row.socialUrl }}" title="Rainbow Lodge on {{ row.platform }}" target="_blank" class="fa fa-{{ row.platform }} fa-lg"><span class="visuallyhidden">{{ row.platform }}</span></a></li>	
					{% endfor %}
				</ul>
				<ul class="footer-links list-inline">
					{% set pages = craft.entries.id(2,60,61) %}
					{% for page in pages %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
					<li>Website by <a href="http://walkerdesigns.com.au/web/" rel="external" title="Website design, development, hosting and copywriting by Walker Designs, Launceston, Hobart, Tasmania, Australia">Walker Designs</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>