{% include "_chunks/searchForm" %}

<header class="row" role="banner">

	<ul class="nav-secondary list-inline">
		<li class="homeLink{% if entry is defined and entry.id == 2 %} active{% endif %}"><a href="/"><i class="fa fa-home"></i> Home</a></li>
		<li class="bookingLink{% if entry is defined and entry.id == 30 %} active{% endif %}"><a href="{{ craft.entries.id(2738).first().url }}"><i class="fa fa-calendar"></i> {{ getEntry(2738).title }}</a></li>
		<li class="contactLink{% if entry is defined and entry.id == 30 %} active{% endif %}"><a href="{{ craft.entries.id(30).first().url }}"><i class="fa fa-phone"></i> {{ getEntry(30).title }}</a></li>      
		<li><a href="/japanese-visitors" id="japananese-lang"><img src="/assets/images/japan.png" width="24" alt="Japan Flag"> 日本語</a></li>
	</ul>
	
	{# <a href="{{ siteUrl }}" id="japananese-lang">English</a> #}

	<div class="logo col-xs-5 col-sm-4 col-md-3 col-lg-2 col-lg-offset-1">
		<a href="{{ siteUrl }}">{{ siteName }}</a>
	</div>

	<nav class="nav-site col-xs-7 col-sm-8 col-md-9 col-lg-8">
		{% include "_chunks/nav" %}
		<div class="wrap-mobile-nav row visible-xs text-right">
			<div class="col-xs-12">
				<ul class="nav-additional list-inline">
					<li><a href="#" class="search-mobile" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search fa-lg"></i> <span class="visuallyhidden">Search</span></a></li>
					<li><a href="javascript:;" id="nav-mobile-button" class="menu-mobile"><i class="fa fa-bars fa-lg"></i> <span class="visuallyhidden">Menu</span></a></li>
				</ul>
			</div>
		</div>

	</nav>
</header>