
<div class="row">
	<div class="col-xs-12 no-padding">
	{% if entry.featuredImage | length %}
		{% set image = entry.featuredImage.first() %}
		{# {% set masthead = { mode: 'scale', width: 2500, height: 950, quality: 75, position: 'center-center' } %} #}
		{% set masthead = { mode: 'scale', width: 2000, height: 1200, quality: 50 } %}
		<div id="masthead-hero" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
			<ul>	<!-- SLIDE  -->
				<li data-index="rs-1" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{ image.getUrl(masthead) }}"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-description="">		
					<img src="{{ image.getUrl(masthead) }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>

					{# Caption layer - Guide profile page #}
					{% if entry.givenName %}
						<div class="tp-caption slide-caption" 
						data-x="left" data-hoffset="0" 
						data-y="center" data-voffset="0" 
						data-basealign="slide"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="o:0" 
						data-transform_out="o:0"
						data-width="full"
						data-start="500"><div class="container-fluid"><div class="row"><div class="col-xs-12 col-lg-10 col-lg-offset-1"><h2>{{ entry.givenName }} {{ entry.surname }}</h2><p class="position-title">{{ entry.positionTitle }}</p></div></div></div></div>
					{% endif %}
				</li>
			</ul>
			<div class="tp-static-layers"></div>
			<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
		</div>
	</div>
</div>
{% else %}
{# <div class="container-fluid no-padding no-margin"> #}
	<div class="wrap-navDivider row no-margin">
		<div class="col-xs-12 no-padding"><hr class="navDivider"></div>
	</div>
{# </div> #}
{% endif %}
</div>
<div class="container-fluid">