{% cache %}

{# Set image transform #}
{# {% set masthead = { mode: 'scale', width: 2500, height: 1200, quality: 75 } %} #}
{% set masthead = { mode: 'scale', width: 2000, height: 1200, quality: 50 } %}

{% if entry.featuredSlideshow | length %}
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
	{# Start Revolution Slider 5.0.7 auto mode #}
	<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
		<ul> 
			
			{% for block in entry.featuredSlideshow %}
				{% if block.type == "imageSlide" %}
					{# Image slide #}
					{% if block.slideImage %}
					{% for image in block.slideImage %}
					<li data-index="rs-{{ block.id }}" 
						data-transition="zoomout" 
						data-slotamount="default"  
						data-easein="Power4.easeInOut" 
						data-easeout="Power4.easeInOut" 
						ata-masterspeed="2000"  
						data-thumb="{{ image.getUrl() }}"  
						data-rotate="0"  
						data-fstransition="fade" 
						data-fsmasterspeed="1500" 
						data-fsslotamount="7" 
						data-saveperformance="off"  
						data-title="Intro" 
						data-description="{% if block.caption %}{{ block.caption }}{% endif %}">

						<img src="{{ image.getUrl(masthead) }}" width="{{ image.getWidth(masthead) }}" height="{{ image.getHeight(masthead) }}" alt="{{ image.title }}" 
							data-bgposition="center center" 
							data-bgfit="cover" 
							data-bgrepeat="no-repeat" 
							data-bgparallax="10" class="rev-slidebg" data-no-retina>
						{% endfor %}
						{% endif %}
						{# Caption layer - Homepage #}
						{% if block.caption %}
						<div class="tp-caption slide-caption" 
						data-x="left" data-hoffset="0" 
						data-y="center" data-voffset="50%" 
						data-basealign="slide"
						data-whitespace="normal"
						data-transform_idle="o:1;"
						data-transform_in="o:0" 
						data-transform_out="o:0"
						data-width="full"
						data-start="500">
							<div class="container-fluid">
								<div class="row">
									<div class="caption-inner col-xs-10 col-sm-8 col-md-7 col-lg-6">
										<h2>{{ block.caption }}</h2>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</li>
			
				{% elseif block.type == "videoSlide" %}
					{# Video slide #}
					<li data-index="rs-{{ block.id }}" data-transition="zoomout" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-description="">

						{% if block.placeholderImage %}
						{% for image in block.placeholderImage %}
						<img src="{{ image.getUrl(masthead) }}" width="{{ image.getWidth(masthead) }}" height="{{ image.getHeight(masthead) }}" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						{% endfor %}
						{% endif %}

						<div class="rs-background-video-layer" 
							data-forcerewind="on" 
							data-volume="mute" 
							data-videowidth="100%" 
							data-videoheight="100%" 
							data-videomp4="{% if block.videoLoop %}{% for image in block.videoLoop %}{{ image.getUrl() }}{% endfor %}{% endif %}" 
							data-videopreload="preload" 
							data-videoloop="none" 
							data-forceCover="1" 
							data-aspectratio="16:9" 
							data-autoplay="true" 
							data-autoplayonlyfirsttime="false" 
							data-nextslideatend="true">
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul> 
		
	</div>
</div>
{% endif %}
{% endcache %}