{# Define list of categories #}
{% set allCategories = craft.categories.group('merchandiseCategories').find() %}
{#
- craft automatically creates a 'category' variable if it detects you are on a category template
- we are just checking whether that category variable exists or not
- depending on its existence, we set our list of entries
#}
{% if category is defined %}
{% set currentCategory = category.slug %}
{% set entries = craft.entries.section('merchandise').relatedTo(category).find() %}
{% else %}
{% set currentCategory = "all" %}
{% set entries = craft.entries.section('merchandise').find() %}
{% endif %}
<nav class="categories">
	{# Build categories list #}
	{% if allCategories | length %}
	<h4 class="sidebarTitle">Merchandise Categories</h4>
	<ul class="list-unstyled">
		<li{% if currentCategory == "all" %} class="current"{% endif %}>
			<a href="{{ siteUrl }}merchandise">All categories <i class="fa fa-angle-right"></i></a>
		
			{# using nav tag to cater for nested categories #}
			{% nav category in allCategories %}
			{# get number of entries in each category #}
			{% set entriesNbr = craft.entries.section('merchandise').relatedTo(category).total() %}
			<li{% if currentCategory == category.slug %} class="current"{% endif %}>
				<a href="{{ category.url }}">{{ category.title }} <span class="count">({{ entriesNbr }})</span> <i class="fa fa-angle-right"></i></a>
				
				{% ifchildren %}
				<ul class="list-unstyled">
					{% children %}
				</ul>
				{% endifchildren %}
			</li>
			{% endnav %}
		</li>
	</ul>
	{% endif %}
</nav>