{% set entries = craft.entries.section('siteContent').hideFromNavigation('not 1').level(1)  %}
<div class="row hidden-xs">
    <div class="col-xs-12">
        <ul id="nav-primary" class="nav-primary list-inline">
            {% nav page in entries %}
            {% set pageIsActive = false %}
            {% if entry is defined %}
            {% set pageIsActive = (page.id == entry.id) %}
            {% if pageIsActive==false %}
            {% set pageIsActive = page.isAncestorOf(entry) %}
            {% endif %}
            {% endif %}
            <li{{pageIsActive?' class="active"':''}}>
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% ifchildren %}
            <ul class="childlist">
                {% children %}
            </ul>
            {% endifchildren %}
        </li>
        {% endnav %}
        <li class="search"><a href="#" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i> <span class="visuallyhidden">Search</span></a></li>
    </ul>
</div>
</div>

{% set entries = craft.entries.section('siteContent')  %}
<div>
    <div id="nav-mobile">
        <ul class="nav-mobile">
            {% nav page in entries %}
            {% set pageIsActive = false %}
            {% if entry is defined %}
            {% set pageIsActive = (page.id == entry.id) %}
            {% if pageIsActive==false %}
            {% set pageIsActive = page.isAncestorOf(entry) %}
            {% endif %}
            {% endif %}
            <li{{pageIsActive?' class="active"':''}}>
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% ifchildren %}
            <ul class="childlist">
                {% children %}
            </ul>
            {% endifchildren %}
        </li>
        {% endnav %}
    </ul>
</div>
</div>
