{% set backgroundImg = { mode: 'scale', width: 1800, height: 1200, quality: 75 } %}
<section class="newsletter-signup row" style="background: transparent url('{{ newsletterIntroduction.newsletterBackground | length ? newsletterIntroduction.newsletterBackground.first().getUrl(backgroundImg) }}')no-repeat center center; background-size: cover;">
	<span class="news-overlay"></span>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 text-center">
				<p>Stay in touch</p>
				<h3>{{ newsletterIntroduction.newsletterIntro }}</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center">
				<form class="form-inline" action="http://walkerdesigns.createsend.com/t/r/s/hjmihu/" method="post" id="subForm">
					<div class="form-group">
						<label for="fieldName" class="sr-only">Name</label>
						<input type="text" class="form-control" id="fieldName" name="cm-name" placeholder="Jane Doe">
					</div>
					<div class="form-group">
						<label for="fieldEmail" class="sr-only">Email</label>
						<input id="fieldEmail" name="cm-hjmihu-hjmihu" type="email" class="form-control" placeholder="jane.doe@example.com">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>	
</section>