{# Define list of categories #}
{% set allCategories = craft.categories.group('newsCategories').find() %}
{#
- craft automatically creates a 'category' variable if it detects you are on a category template
- we are just checking whether that category variable exists or not
- depending on its existence, we set our list of entries
#}
{% if category is defined %}
{% set currentCategory = category.slug %}
{% set entries = craft.entries.section('news').relatedTo(category).find() %}
{% else %}
{% set currentCategory = "all" %}
{% set entries = craft.entries.section('news').find() %}
{% endif %}
<nav class="categories">
	{# Build categories list #}
	{% if allCategories | length %}
	<h4 class="sidebarTitle">News Categories</h4>
	<ul class="list-unstyled">
		<li{% if currentCategory == "all" %} class="current"{% endif %}>
			<a href="{{ siteUrl }}news">All categories <i class="fa fa-angle-right"></i></a>
		
			{# using nav tag to cater for nested categories #}
			{% nav category in allCategories %}
			{# get number of entries in each category #}
			{% set entriesNbr = craft.entries.section('news').relatedTo(category).total() %}
			<li{% if currentCategory == category.slug %} class="current"{% endif %}>
				<a href="{{ category.url }}">{{ category.title }} <span class="count">({{ entriesNbr }})</span> <i class="fa fa-angle-right"></i></a>
				
				{% ifchildren %}
				<ul class="list-unstyled">
					{% children %}
				</ul>
				{% endifchildren %}
			</li>
			{% endnav %}
		</li>
	</ul>
	{% endif %}
</nav>

{# Yearly archive #}
<nav class="years">
	<h4 class="sidebarTitle">Archives</h4>
	{% set allEntries = craft.entries.section('news').limit(null) %}	
	<ul class="list-unstyled">
		{% for year, entriesInYear in allEntries | group("postDate.year") %}
		<li class="year">
			<a class="collapsed" data-toggle="collapse" href="#collapse{{ year }}" aria-expanded="false" aria-controls="collapse{{ year }}">{{ year }}</a>

			<ul class="list-unstyled collapse" id="collapse{{ year }}">
				{% for month, entriesInMonth in entriesInYear | group("postDate|date('F')") %}
				<li class="month"><a class="collapsed" data-toggle="collapse" href="#collapse{{ month }}{{ year }}" aria-expanded="false" aria-controls="collapse{{ month }}{{ year }}" class="month">{{ month }} <span class="count">({{ entriesInMonth | length }})</span></a>
					<ul class="list-unstyled collapse" id="collapse{{ month }}{{ year }}">
						{% for entry in entriesInMonth %}
						<li class="article-link">
							<a href="{{ entry.getUrl() }}">{{ entry.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</li>	
		{% endfor %}
	</ul>	
</nav>