{% set galleryThumb = { mode: 'crop', width: 450, height: 350, quality: 50 } %}
{% set galleryLarge = { mode: 'scale', width: 1000, quality: 50 } %}

{% set assets = entry.pageGallery %}
{% if assets | length %}

	<div class="row">
		<aside class="page-gallery col-xs-12">

			<div class="row">
				<div class="gallery-wrap block-grid-xs-2 block-grid-sm-3 block-grid-md-6">
					{% for asset in assets %}
						<figure class="block-grid-item no-padding no-margin">
							<a href="{{ asset.url(galleryLarge) }}" class="block-grid-item no-padding no-margin">
								<img src="{{ asset.url(galleryThumb) }}"  class="img-responsive" alt="{{ asset.altText }}">
							</a>
						</figure>
					{% endfor %}
				</div>
			</div>	

			<div class="row">
				<div class="wrap-gallery-link col-xs-12 text-center">
					<a href="{{ craft.entries.id(59).first().url }}" class="btn btn-default">View more galleries</a>
				</div>
			</div>
		</aside>
	</div>

{% endif %}