<div class="col-xs-12 col-sm-5 col-md-7">
	<div class="row">
		
		<aside class="page-images col-xs-12 col-md-7">
			{% set assets = entry.pageImages %}
			{% if assets | length %}
			{% set pageImage = { mode: 'scale', width: 800, quality: 50 } %}
			{% for asset in assets %}
			<img src="{{ asset.url(pageImage) }}"  class="img-responsive" alt="{{ asset.altText }}">
			{% endfor %}
			{% endif %}
		</aside>

		<section class="contextual-nav col-xs-12 col-md-5 hidden-xs">
			{% include "_chunks/contextualNav" %}
		</section>
		
	</div>
</div>