{% if entry.relatedLinks|length %}
	<div class="wrap-related row">
		<hr>
		<section class="related col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			
			<h3>Related links</h3>
			
			<ul class="awards-list list-unstyled block-grid-xs-4 block-grid-sm-6 block-grid-md-8 block-grid-lg-11">
				{% for block in entry.relatedLinks %}
					<li class="partner text-center block-grid-item">
						<a href="{% if block.linkDestination %}{{ block.linkDestination }}{% endif %}"{% if block.linkTitle %} title="{{ block.linkTitle }}"{% endif %}>
						
						{% if block.linkImage %}
							{% set logo = block.linkImage.first() %}
							{% set logoThumb = { mode: 'scale', width: 180, quality: 100 } %}
							
							<img class="img-responsive" src="{{ logo.getUrl(logoThumb) }}" width="{{ logo.getWidth(logoThumb) }}" height="{{ logo.getHeight(logoThumb) }}" alt="{{ logo.title }}">
							
						{% endif %}
						
						</a>
					</li>
				{% endfor %}
			</ul>

		</section>
	</div>
{% endif %}