{# Search modal #}
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title visuallyhidden" id="myModalLabel">Search {{ siteName }}</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline" action="{{ url('search-results') }}">
					<div class="form-group">
						<label class="sr-only" for="search">Search {{ siteName }}</label>
						<input type="search" class="form-control" name="q" placeholder="Looking for something&hellip;">
					</div>
					<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
				</form>
			</div>
		</div>
	</div>
</div>

