{% extends "_base" %}

{% block extraHead %}

{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% block header %}
{{ parent() }}
{% include "_chunks/mastheadImage" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		
		<div class="row">
			
			<main id="main" class="{% if entry.featuredImage | length %}{% else %}no-header-image {% endif %}col-xs-12 col-sm-7 col-md-9">
				<header class="page-head">
					<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>
				
				{{ entry.pageContent }}

				<ul id="entry-list" class="entry-list list-unstyled row">
					{% for childEntry in entry.getChildren %}
					<li class="article col-xs-6 col-md-4">
						
						{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideDate': true} %}

					</li>
					{% endfor %}
				</ul>
			</main>

			<section class="contextual-nav col-sm-5 col-md-3 hidden-xs">
				{% include "_chunks/contextualNav" %}
			</section>
		</div>

	</div>
</div>

{% include "_chunks/pageGallery" %}

{% endblock %}

{% block extraFoot %}

{% include "_chunks/revoMastheadImage" %}

{# Masonry js #}
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script>

// Masonry
var container = document.querySelector('#entry-list');
var msnry;
imagesLoaded( container, function() {
	msnry = new Masonry( container, {
		columnWidth: 1,
		itemSelector: '.article',
		animate: true,
		percentPosition: true,
		columnWidth: 1
	}) 
});

</script>

{% endblock %}