{% extends "_base" %}

{% block extraHead %}

{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}

{# Gallery light window css #}
<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% block header %}
{% include "_chunks/header" %}
{% include "_chunks/mastheadImage" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			
			<main id="main" class="{% if entry.featuredImage | length %}{% else %}no-header-image {% endif %}col-xs-12 col-md-8 col-md-offset-2">
				<header class="page-head">
					<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>
				{{ entry.pageContent }}
			</main>

		</div>
	</div>
</div>

{% include "_chunks/pageGallery" %}

{% endblock %}

{% block extraFoot %}
{% include "_chunks/revoMastheadImage" %}

{# Gallery light window js #}
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function() {
		$('.gallery-wrap').magnificPopup({
		delegate: 'a', // child items selector, by clicking on it popup will open
		type: 'image',
		gallery:{
			enabled:true
		}
	});
	});
</script>

{% endblock %}