{% extends "_base" %}

{% set formContact = craft.formBuilder.getFormByHandle('contactUs') %}
{% set tabs = formContact.fieldLayout.getFieldLayout().getTabs() %}
{% set pluginScripts = craft.formBuilder.pluginScripts(formContact) %}

{% block extraHead %}

{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}

{# Gallery light window css #}
<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% block header %}
{% include "_chunks/header" %}
{% include "_chunks/mastheadImage" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			
			<main id="main" class="{% if entry.featuredImage | length %}{% else %}no-header-image {% endif %}col-xs-12 col-sm-6 col-md-7">
				<header class="page-head">
					<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>
				{{ entry.pageContent }}
				<table>
					{% for row in entry.contactInformation %}
					<tr><td>{{row.label}}</td><td>{{row.value}}</td></tr>
					{% endfor %}
				</table>
			</main>
			
			<aside class="contact-forms col-xs-12 col-sm-6 col-md-5 col-lg-4 col-lg-offset-1">
				{# Form tab triggers #}
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i> Contact us</a></li>
					<li><a href="{{ craft.entries.id(2738).first().url }}"><i class="fa fa-calendar"></i> Booking enquiry</a></li>
				</ul>

				{# Form tab panes #}
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="contact">
						
						<form method="post" accept-charset="utf-8" name="{{ formContact.handle }}" class="formbuilder-form" id="{{ formContact.handle }}" data-parsley-errors-container=".formbuilder-notification"{% if formContact.hasFileUploads %} enctype="multipart/form-data" {% endif %}>
							<input type="hidden" name="action" value="formBuilder/entries/saveFormEntry">
							<input type="hidden" name="formredirect" data-redirect="{{formContact.successPageRedirect}}" value="{{formContact.redirectUrl}}">
							<input type="hidden" name="formHandle" value="{{formContact.handle}}">
							{% for tab in tabs %}
							{% set fields = tab.getFields() %}
							{% for field in fields %}
							{% set input = craft.formBuilder.getInputHtml(field) %}
							{{ input | raw }}
							{% endfor %}
							{% endfor %}

							{# Error/Success Messages #}
							{% if craft.session.hasFlash('error') or craft.session.hasFlash('success') %}
							{% if craft.session.hasFlash('error') %}<div class="formbuilder-notification"><p class="error-message">{{ craft.session.getFlash('error') | raw }}<p></div>{% endif %}
							{% if craft.session.hasFlash('success') %}<div class="formbuilder-notification success"><p class="success-message">{{ craft.session.getFlash('success') | raw }}</p></div>{% endif %}
							{% else %}
							<div class="formbuilder-notification"></div>
							{% endif %}
							<button class="btn btn-primary" type="submit">Submit form</button>
						</form>

					</div>
				</div>
			</aside>

		</div>
	</div>
</div>

{% include "_chunks/pageGallery" %}

{% endblock %}

{% block extraFoot %}
{% include "_chunks/revoMastheadImage" %}

{# Gallery light window js #}
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function() {
		$('.gallery-wrap').magnificPopup({
		delegate: 'a', // child items selector, by clicking on it popup will open
		type: 'image',
		gallery:{
			enabled:true
		}
	});
	});
</script>

{% endblock %}
