{% extends "_base" %}
{% block extraHead %}
{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 
{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>
{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}
{# Gallery light window css #}
<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
{% endblock %}
{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}
{% block header %}
{{ parent() }}
{% include "_chunks/mastheadImage" %}
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<main id="main" class="{% if entry.featuredImage | length %}{% else %}no-header-image {% endif %}col-xs-12 col-sm-7 col-md-5">
					<header class="page-head">
						<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
						<p class="lead">{{ entry.introText }}</p>
					</header>
					{{ entry.pageContent }}
				</main>
			</div>
			<ul id="entry-list" class="entry-list list-unstyled row">
				{% for gallery in entry.gallerylist %}          
					{% if gallery.type == "gallery" %}
						{% set thisEntry = gallery.galleryEntry.first() %}
						{% set assets = thisEntry.pageGallery %}

						{% if assets | length %}
							{% set galleryThumb = { mode: 'crop', width: 600, quality: 75 } %}
							{% set galleryLarge = { mode: 'scale', width: 1000, quality: 85 } %}
							<li class="gallery-wrap article col-xs-6 col-md-3 col-lg-4">
								{% for asset in assets %}
									{% if loop.first == true %}
										<article>
											<a href="{{ thisEntry.url }}">
												{#  <a href="{{ asset.url(galleryLarge) }}"> #}
												<figure>
													<img src="{{ asset.url(galleryThumb) }}"  class="img-responsive" alt="{{ asset.altText }}">
												</figure>

												<h3>{{ gallery.galleryTitle }} </h3>
												{#  <p>Click to view these {{assets | length }} images larger</p> #}
												<p>Click to view this Gallery</p>
												<span class="posted"><i class="fa fa-external-link" aria-hidden="true"></i></span>
											</a>
										</article>
										{% else %}
										<a href="{{ asset.url(galleryLarge) }}" style="display: none;"></a>
									{% endif %}
								{% endfor %}
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>
{% endblock %}
{% block extraFoot %}
{% include "_chunks/revoMastheadImage" %}
{# Masonry js #}
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script>
// Masonry
var container = document.querySelector('#entry-list');
var msnry;
imagesLoaded( container, function() {
	msnry = new Masonry( container, {
		columnWidth: 1,
		itemSelector: '.article',
		animate: true,
		percentPosition: true,
		columnWidth: 1
	}) 
});
</script>
{# Gallery light window js #}
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
{# <script>
	$('.gallery-wrap').each(function() { // the containers for all your galleries
		$(this).magnificPopup({
			delegate: 'a', // the selector for gallery item
			type: 'image',
			gallery: {
				enabled:true
			}
		});
	});
</script> #}
{% endblock %}