{#
# News index template
# -------------------
#
# This template is loaded whenever http://example.com/news is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_base" %}
{% set title = "Latest News" %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">

		<div class="row">
			<div class="col-md-8 col-lg-9">
				<h1>{{ title }} - {{ category.title }}</h1>

				{# Fetch all of the entries related to this category #}
				{% set entries = craft.entries.relatedTo(category) %}

				{# Output them #}
				<ul id="entry-list" class="entry-list list-unstyled row">
					{% for childEntry in entries %}
					<li class="article col-xs-6 col-md-3 col-lg-4">
						
						{# Common listing tile #}
						{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideLinkIcon': true} %}
						
					</li>
					{% endfor %}
				</ul>
			</div>

			<aside class="news-sidebar col-md-4 col-lg-3">
				{% include "_chunks/newsNavSidebar" %}
			</aside>
		</div>
	</div>
</div>

{% endblock %}

{% block extraFoot %}

{# Masonry js #}
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script>

// Masonry
var container = document.querySelector('#entry-list');
var msnry;
imagesLoaded( container, function() {
	msnry = new Masonry( container, {
		columnWidth: 1,
		itemSelector: '.article',
		animate: true,
		percentPosition: true,
		columnWidth: 1
	}) 
});

</script>

{% endblock %}