{#
# News index template
# -------------------
#
# This template is loaded whenever http://example.com/news is
# requested, because it is located at news/index.html in your
# craft/templates/ folder.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_base" %}
{% block extraHead %}
{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="news-listing"{% endset %}

{% block header %}
{% include "_chunks/header" %}
{% include "_chunks/mastheadImage" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">

		<div class="row">
			<main id="main" class="col-md-8 col-lg-9">
				<header class="page-head">
					<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>

				{% paginate craft.entries.section('news').limit(12) as entriesOnPage %}
				
				<ul id="entry-list" class="entry-list list-unstyled row">
					{% for childEntry in entriesOnPage %}
					<li class="article col-xs-6 col-md-3 col-lg-4">

						{# Common listing tile #}
						{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideLinkIcon': true} %}

					</li>
					{% endfor %}
				</ul>

				<nav>
					<ul class="pagination">
						
						{% if paginate.prevUrl %}
						<li>
							<a href="{{ paginate.prevUrl }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						{% endif %}
						
						{% for page, url in paginate.getPrevUrls(5) %}
						<li><a href="{{ url }}">{{ page }}</a></li>
						{% endfor %}

						<li class="active"><a href="#">{{ paginate.currentPage }}</a></li>

						{% for page, url in paginate.getNextUrls(5) %}
						<li><a href="{{ url }}">{{ page }}</a></li>
						{% endfor %}
						
						{% if paginate.nextUrl %}
						<li>
							<a href="{{ paginate.nextUrl }}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
						{% endif %}
					</ul>
				</nav>

			</main>

			<aside class="news-sidebar col-md-4 col-lg-3">
				{% include "_chunks/newsNavSidebar" %}
			</aside>
		</div>
	</div>
</div>
{% endblock %}
{% block extraFoot %}
{% include "_chunks/revoMastheadImage" %}
{# Masonry js #}
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script>
// Masonry
var container = document.querySelector('#entry-list');
var msnry;
imagesLoaded( container, function() {
	msnry = new Masonry( container, {
		columnWidth: 1,
		itemSelector: '.article',
		animate: true,
		percentPosition: true,
		columnWidth: 1
	}) 
});
</script>
{% endblock %}