{#
# Merchandise entry template
# -------------------
#
# This template gets loaded whenever a merchandise entry’s URL is
# requested. That’s because the merchandise section’s Template setting is
# set to “merchandise/_entry”, the path to this template.
#
# When this template is loaded, it will already have an ‘entry’
# variable, set to the requested merchandise entry.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_base" %}

{% block extraHead %}

{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}


<link rel="stylesheet" type="text/css" href="/assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">


{% endblock %}

{% block header %}
{{ parent() }}
{% include "_chunks/mastheadImage" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="row">
			<main id="main" class="col-md-8">

				<header class="page-head">
					<h1>{{ entry.title }}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>

				{{ entry.pageContent }}

				{% include "_chunks/additionalContentMatrix" %}
			</main>

			<aside class="merchandise-sidebar col-md-4 col-lg-3 col-lg-offset-1">
				{% include "_chunks/merchandiseNavSidebar" %}
			</aside>
		</div>
	</div>
</div>

{% endblock %}

{% block extraFoot %}
{% include "_chunks/revoMastheadImage" %}

	<script src="{{ '/assets/js/slick.min.js'|timedAsset }} "></script>
	<script>
		$(document).ready(function(){
			$('.slideWrap').slick({
				arrows: true,
				dots: true
			});
		});
	</script>

{% endblock %}
