{#
# 404 template
# ------------
#
# This template is loaded whenever Craft cannot figure out how to
# respond to an incoming request. No setup is involved to get your
# 404 page working; you just need to call it 404.html and put it
# at the root of your craft/templates/ folder.
#
# You can also create 400.html, 403.html, 500.html, and 503.html
# templates if you’d like. If Craft can’t find an error template
# to match the error code, it will just use the one in
# craft/app/templates/ instead.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_base" %}
{% set title = "404" %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">

			<main id="main" class="col-xs-12 col-md-8 col-md-offset-2">
				<header class="page-head">
					<h1>Page not found (404)</h1>
					<p class="lead">Sorry, the page you are looking for can't be found.</p>
				</header>
				<p>Try checking the url for errors then refresh, visit our <a href="{{ url('/') }}">home page</a> for more help, or <a href="{{ url('/contact') }}">contact us.</p>
			</main>

		</div>
	</div>
</div>

{% endblock %}

