{# EXAMPLES

{% set modalTitle = 'I am a title' %}
{% set modalBody = '<p>I am modal body content.</p>' %}
{% set modalFooter = '<button type="button" class="btn btn-default" data-dismiss="modal">Custom Footer Close</button>' %}

#}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{# <meta content="width=device-width, initial-scale=1, minimal-ui" name="viewport"> #}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	{# {% if metaDescription is defined %} defined <meta name="description" content="{{ metaDescription }}"/>{% endif %} #}
	{% if entry.metaDescription is defined %}<meta name="description" content="{{ entry.metaDescription }}"/>{% endif %}
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
	<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png">
	<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville%7cOpen+Sans:300italic,300,400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	{% if craft.config.devMode %}
		<meta name="robots" content="noindex,nofollow">
		<link rel="stylesheet" href="{{ '/assets/css/styles.css'|timedAsset }}">
	{% else %}
		<link rel="stylesheet" href="{{ '/assets/css/styles.min.css'|timedAsset }}">
	{% endif %}	
	{# console.log fix for IE8 #}
	<script>if(!window.console){window.console={};}; if(!window.console.log){window.console.log=function(){};};</script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/assets/js/modernizr.js"></script>
	{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% block extraHead %}{% endblock %}
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-67505854-1', 'auto');
		ga('send', 'pageview');

		</script>
</head>

<body{% if bodyClass is defined %}{{ bodyClass }}{% endif %}>

	<div class="site-wrap">
		<div class="container-fluid">
			{% block header %}
				{% include "_chunks/header" %}
			{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}
				{% include "_chunks/booking" %}
				{% include "_chunks/newsletterSignup" %}
				{% include "_chunks/footer" %}
			{% endblock %}
		</div>	
	</div><!--/.site-wrap -->

	{# Footer JS #}
	<script src="{{ '/assets/js/libs.min.js'|timedAsset }} "></script>
	{% if craft.config.devMode %}
		<script src="{{ '/assets/js/main.js'|timedAsset }} "></script>
		{% else %}
		<script src="{{ '/assets/js/main.min.js'|timedAsset }} "></script>
	{% endif %}

	<script src="{{ '/assets/js/jquery.mmenu.min.all.js'|timedAsset }}"></script>
	<script>
	$(document).ready(function() {
		$("#nav-mobile").mmenu({
			slidingSubmenus: false,
			offCanvas: {
				position: 'right',
			}
		});
		var API = $("#nav-mobile").data( "mmenu" );

		$("#nav-mobile-button").click(function() {
			API.open();
		});
	});
	</script>

	{% block extraFoot %}{% endblock %}

	</body>
</html>