{% extends "_base" %}

{% block extraHead %}

{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css">

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>

{# Gallery light window css #}
<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="home"{% endset %}

{% block header %}
{{ parent() }}
{% include "_chunks/mastheadSlideshow" %}
{% endblock %}

{% block content %}
<div class="row">
	<aside class="latestproducts hidden-xs col-xs-12 no-margin">
		
		<ul id="product-list" class="product-list list-unstyled row">
			{% for childEntry in craft.entries.section('merchandise').limit(6).find() %}
			<li class="article col-xs-6 col-sm-2 col-md-2 no-padding">
				
				{# Common listing tile #}
				{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideDate': true, 'hideLinkIcon': true, 'hideIntro': true} %}

			</li>
			{% endfor %}
		</ul>

	</aside>
</div>

<div class="row">
	<main id="main" class="main-content col-lg-10 col-lg-offset-1">
		
		<div class="row">
			<header class="page-head col-xs-12">
				<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
			</header>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-1">
				<p class="lead">{{ entry.introText }}</p>
			</div>
			<div class="contentWrapper col-xs-12 col-md-7 col-lg-7">	
				{{ entry.pageContent }}
			</div>
		</div>

	</main>
</div>

{% include "_chunks/pageGallery" %}

<div class="row">
	<aside class="latestNews secondary col-lg-10 col-lg-offset-1">
		<h2><a href="{{ craft.entries.id(40).first().url }}">Latest News</a></h2>
		<p class="lead">Stay up to date with the latest news, reviews &amp; reports.</p>
		
		<ul id="entry-list" class="entry-list list-unstyled row">
			{% for childEntry in craft.entries.section('news').limit(4).find() %}
			<li class="article col-xs-6 col-md-4">
				{# Common listing tile #}
				{% include "_chunks/listingTile" with {'childEntry': childEntry, 'hideLinkIcon': true} %}
			</li>
			{% endfor %}
		</ul>

	</aside>
</div>

{% include "_chunks/partnerLinks" %}

{% endblock %}

{% block extraFoot %}

{% include "_chunks/revoMastheadSlideshow" %}

{# Gallery light window js #}
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function() {
		$('.gallery-wrap').magnificPopup({
		delegate: 'a', // child items selector, by clicking on it popup will open
		type: 'image',
		gallery:{
			enabled:true
		}
	});
	});
</script>

{# Masonry js #}
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>

<script>
// Masonry
var container = document.querySelector('#entry-list');
var msnry;
imagesLoaded( container, function() {
	msnry = new Masonry( container, {
		columnWidth: 1,
		itemSelector: '.article',
		animate: true,
		percentPosition: true,
		columnWidth: 1
	}) 
});
</script>
{% endblock %}