{% extends "_base" %}

{% block extraHead %}

{% if entry.featuredImage | length %}
{# Revo slider #}
<link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
<link rel="stylesheet" type="text/css" href="/assets/css/navigation.css"> 

{# Revo js #}
<script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

{# Revo extensions (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) #}
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
{% endif %}

{# Gallery light window css #}
<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">

{% endblock %}

{# Set specific body class for this template #}
{% set bodyClass %} class="content"{% endset %}

{% block header %}
{% include "_chunks/header" %}
{% include "_chunks/mastheadImage" %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			
			<main id="main" class="col-xs-12 col-md-8 col-md-offset-2">

				<header class="page-head">
					<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>
				{% set query = craft.request.getParam('q') %}
				{% set entries = craft.entries.search(query).order('score') %}

				{% if entries|length %}
				<div class="well">
					<div>{{ entries|length }} results found for "<strong>{{ query }}</strong>"</div>
				</div>

				<ul class="list-unstyled">
                    {% for entry in entries %}
							<li>
								<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
								{% set searchtext = '' %}
								{% if entry.introText|striptags|length>0 %}
									{% set searchtext = entry.introText|striptags %}
								{% endif %}
								{% if entry.pageContent|striptags|length>0 %}
									{% if searchtext|length>0 %}
										{% set searchtext = searchtext~' - '~entry.pageContent|striptags %}
									{%  else %}
										{% set searchtext = entry.pageContent|striptags %}
									{% endif %}
								{% endif %}
								{% if searchtext|length>0 %}<p>{{ searchtext|searchStringHighlight(query)|raw}}</p>{% endif %}
								<small><a href="{{ entry.url }}"><i class="fa fa-angle-right"></i> Continue reading</a></small>
								{% if loop.last != true %}<hr>{% endif %}
							</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>Your search for “{{ query }}” didn’t return any results.</p>
				{% endif %}





				{# <header class="page-head">
					<h1>{% if entry.longTitle %}{{ entry.longTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
					<p class="lead">{{ entry.introText }}</p>
				</header>
				{% set query = craft.request.getParam('q') %}
				{% set entries = craft.entries.search(query).order('score') %}

				{% if entries|length %}
				<div class="well">
					<p>{{ entries|length }} results found for "<strong>{{ query }}</strong>"</p>
				</div>
				

				<ul class="list-unstyled">
					{% for entry in entries %}
					<li>
						<h4><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
						{% if entry.introText | length %}<p>{{ entry.introText }}</p>{% endif %}
						<small><a href="{{ entry.url }}"><i class="fa fa-angle-right"></i> Continue reading</a></small>
						{% if loop.last != true %}<hr>{% endif %}
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>Your search for “{{ query }}” didn’t return any results.</p>
				{% endif %} #}
			</main>

		</div>
	</div>
</div>

{% endblock %}

{% block extraFoot %}
{% include "_chunks/revoMastheadImage" %}

{# Gallery light window js #}
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function() {
		$('.gallery-wrap').magnificPopup({
		delegate: 'a', // child items selector, by clicking on it popup will open
		type: 'image',
		gallery:{
			enabled:true
		}
	});
	});
</script>

{% endblock %}