@import "bourbon";
@import "andy";
@import "jquery.mmenu.all";

/* $CONTENTS
/*------------------------------------*/
/**
 * CONTENTS................. You’re reading it!
 * BOOTSTRAP ............... Customisation and Import
 * VARIABLES ............... Other Variables for site
 * WIREFRAME ............... Setting for Wireframe
 * TYPOGRAPHICAL ........... Common elements
 * LISTS ...................
 * IMAGES ..................
 * LAYOUT ..................
 * FORMS ................... 
 * TABLES .................. 
 * HELPER CLASSES .......... 
 * LEGACY ...............Legacy and fallback styles

 */
 
 @mixin MQ($media) {
     @if $media == xxs-min { /* this first one is custom based on 450 wide - handy to just target small stuff only */
        @media only screen and (min-width: 0px) and (max-width: 450px) { @content; }
    }
    @else if $media == xs-min {
        @media only screen and (min-width: $screen-xs-min) { @content; }
    }
    @else if $media == sm-min {
        @media only screen and  (min-width: $screen-sm-min) { @content; }
    }
    @else if $media == md-min {
        @media only screen and (min-width: $screen-md-min) { @content; }
    }
    @else if $media == lg-min {
        @media only screen and (min-width: $screen-lg-min) { @content; }
    }
    @else if $media == ret {  
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
    }
 }

 @mixin transition3 {
	transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
@mixin transition6 {
	transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}
@mixin transition9 {
	transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}

 @mixin retinize($file, $type, $rep, $x, $y, $width, $height) {
 	background: transparent url('../images/' + $file + '.' + $type) $rep $x $y;

 	@media (-webkit-min-device-pixel-ratio: 1.5),
 	(min--moz-device-pixel-ratio: 1.5),
 	(-o-min-device-pixel-ratio: 3/2),
 	(min-device-pixel-ratio: 1.5),
 	(min-resolution: 1.5dppx) {
 		& {
 			background: transparent url('../images/' + $file + '@2x.' + $type) $rep $x $y;
 			-webkit-background-size: $width $height;
 			-moz-background-size: $width $height;
 			background-size: $width $height;
 		}
 	}
 }
 
 @mixin transition-all($time) {
 	-webkit-transition: all $time;
 	-moz-transition: all $time;
 	-ms-transition: all $time; /* IE10 is actually unprefixed */
 	-o-transition: all $time;
 	transition: all $time;
 }

@mixin section-padding($top, $bottom) {
	padding: {
		bottom: em($bottom / 2);
		top: em($top / 2);
	}

	@media (min-width: $screen-sm-min) {
		padding: {
			bottom: em($bottom);
			top: em($top);
		}
	}
}
 
/* BOOTSTRAP
/*------------------------------------*/


// Bootstrap variables customisation.
// Settings for some of the most global styles. Overrides varation.scss

// Gradient
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Set pallette colors
$brand-primary:         #a72d04 !default;
$brand-secondary:       #0e78d7 !default; 
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$neutral:               #ffffff !default;

// Background color for `<body>`.
$body-bg:               #fff !default;

// Global text color on `<body>`.
$text-color:            $gray-darker !default;

// Global textual link color.
$link-color:            $brand-primary !default;

// Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//== Typography

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Open Sans', sans-serif !default;
$font-family-serif:       'Libre Baskerville', serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.875)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // ~12px

// Import Bootstrap
@import "../bs-assets/stylesheets/bootstrap/variables";
@import "../bs-assets/stylesheets/bootstrap";


// Small devices (tablets, 768px and up)
// @media (min-width: @screen-sm-min) { ... }

// Medium devices (desktops, 992px and up)
// @media (min-width: @screen-md-min) { ... }

// Large devices (large desktops, 1200px and up)
// @media (min-width: @screen-lg-min) { ... }


/* $VARIABLES
/*------------------------------------*/

// 01 colours

$highlight: lighten($brand-primary, 15%); 


/* $LINKS & $TYPOGRAPHY
/*------------------------------------*/
/* Animate all links in and out */
a,
button {
	@include transition(all 0.3s ease-in-out);

	&:hover {
		text-decoration: none;  
	}
}

.btn {
	border-radius: em(2px);
}

h4.sidebarTitle {
	font: {
		family: $font-family-serif;
		size: em(22px);
	}
	padding: {
		bottom: em(15px, 22px);
	}
	position: relative;

	&:before {
		background: lighten($brand-primary, 10%);
		bottom: 0;
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		width: em(40px);
	}

	&:after {
		background: lighten($brand-primary, 10%);
		bottom: 0;
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		width: 100%;
	}
}

/* $IMAGES
/*------------------------------------*/
main img {
	@extend .img-responsive;
}
.page-gallery { 
	.img-responsive { 
		max-width: 100%;
		width: 100%; 
	}
}

.singleImage img {
	margin-bottom: 2em;
	margin-top: 2em;
}
/* $LAYOUT
/*------------------------------------*/
section.booking-promo {
	@include section-padding(80px, 80px);

	background: $brand-primary;
}

section.newsletter-signup {
	@include section-padding(80px, 80px);

	background: $brand-secondary;
}


// Search form
.modal-dialog {
	// margin: {
	// 	top: 100px;
	// }

	.modal-content {
		// box-shadow: none !important;

		.modal-header {
			border: none;

			button.close {
				text-align: right;
			}
		}

		div.form-group {
			width: 100%;

			input {
				width: 100%;
			}

			@media (min-width: $screen-md-min) {
				width: 69%;
			}
		}

		button {
			width: 30%;
		}

		.modal-footer {
			border: none;
		}
	}
}

header[role="banner"] {
	background: rgba($neutral, 0.9);
	margin: {
		top: 0;
	}
	position: absolute;
	width: 100%;
	z-index: 100;
	
	// Add margin to header to account for absolutely positioned utility nav
	@media (min-width: $screen-sm-min) {
		margin: {
			top: em(30px);
		}
	}

	// Utility nav
	ul.nav-secondary {
		background: $brand-primary;
		float: right;
		font: {
			size: em(14);
		}
		margin: 0;
		padding: {
			left: em(15px, 14px);
			right: em(15px, 14px);
		}
		position: relative;
		text-align: center;
		width: 100%;

		li {
			padding: 0;

			a {
				color: $neutral;
				display: block;
				line-height: em(44px, 14px);
				padding: {
					left: em(10);
					right: em(10);
				}

				&:hover {
					color: lighten($brand-primary, 15%);
				}
			}
		}
		
		// Positions absolutely except on mobile
		@media (min-width: $screen-sm-min) {
			position: absolute;
			right: 15px;
			text-align: left;
			top: em(-30px, 14px);
			width: auto;
		}
		
		@media (min-width: $screen-lg-min) {
		
			right: calc(8.33333% + 15px);
		}
	}

	div.logo {
		height: em(110px);
		line-height: em(110px);
		overflow: visible;
		position: relative;

		a {
			background: transparent url(/assets/images/logo.png) no-repeat 0 0;
			display: block;
			height: em(128px);
			position: absolute;
			text-indent: -9999px;
			top: em(7px);
			width: em(195px);
		}
	}

	// Global site nav
	nav {
		height: em(110px);
		position: relative;

		ul.nav-primary {
			float: right;
			font: {
				family: $font-family-serif;
				style: normal;
				weight: 400;
			}
			margin: {
				top: em(35px);
			}
			
			@media (min-width: $screen-md-min) {
				margin: {
					top: 0;
				}
			}

			li {
				padding: 0;

				a {
					color: $gray-darker;
					display: block;
					font: {
						size: em(13px);
					}
					line-height: 1em;
					padding: {
						left: em(10px);
						right: em(10px);
					}

					&:hover {
						color: $brand-primary;
					}
					
					@media (min-width: $screen-md-min) {
						font: {
							size: em(16px);
						}
						line-height: em(110px);
					}
				}

				&.active {
					
					a {
						color: $brand-primary;
					}
				}
			}
		}

		ul.nav-additional {
			line-height: em(110px); 
		}
	}
}

// Revo slider homepage caption only
body.home div.forcefullwidth_wrapper_tp_banner {

	div.tp-caption.slide-caption {
		
		div.caption-inner {
			background: rgba($gray-darker, 0.6);
			padding: {
				bottom: em(40px);
				left: 8.33333%;
				right: em(40px);
				top: em(40px);
			}

			h2 {
				margin: 0;
			}	
		}
	}
}

// Revo slider
body.home div.forcefullwidth_wrapper_tp_banner,
div#masthead-hero {
	margin: {
		top: 154px !important;
	}
	
	@media (min-width: $screen-md-min) {
		margin: {
			// top: -140px !important;
			top: 0px !important;
		}
	}

	div.tp-caption.slide-caption {

		h2 {
			color: $neutral;
			font: {
				family: $font-family-serif;
				size: em(24px);
			}

			@media (min-width: $screen-md-min) {
				font-size: em(46px);
			}
		}

		p.position-title {
			color: $neutral;
			font: {
				size: em(21px);
				weight: 700;
			}	
		}
	}

	div.slotholder {
		overflow: hidden;
	}
}

div.wrap-navDivider {
	margin-top: 180px;
}

main {
	@include section-padding(80px, 80px);

	header.page-head {
		margin: {
			bottom: em(40px);
		}

		h1 {
			color: $brand-primary;
			font: {
				family: $font-family-serif;
				size: em(40px);
			}
			margin: {
				bottom: 0;
				top: 0;
			}
			padding: {
				bottom: em(15px, 40px);
			}
			position: relative;

			&:before {
				background: lighten($brand-primary, 10%);
				bottom: 0;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: em(40px);
			}

			&:after {
				background: lighten($brand-primary, 10%);
				bottom: 0;
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				width: 100%;
				
				@media (min-width: $screen-sm-min) {
					width: em(130px);
				}
			}
		}

		h1 + p.lead {
			margin: {
				top: em(20px);
			}
		}
	}
}

// Related links
div.wrap-related {
	@include section-padding(40px, 40px);
	
	hr {
		border-color: $gray-light;
	}

	h3 {
		color: $brand-primary;
		font: {
			family: $font-family-serif;
			size: em(28px);
		}
		text-align: center;
	}

	background: $neutral;
	section.related {

		ul {
			text-align: center !important;

			li {

				a {
					display: block;
				}
			}
		}
	}
}

body.content,
body.news-listing,
body.merchandise-listing {

	main {
		@include section-padding(40px, 40px);

		background: $neutral;
		margin: {
			top: -50px;
		}
		padding: {
			left: em(30px);
			right: em(30px);
		}
		position: relative;
		z-index: 100;

		&.no-header-image {
			margin: {
				top: 0;
			}
		}
	}
}
// body.home .fluid-vids {
// 	padding-bottom: 56.25%;
// }

// Individual page gallery
aside.page-images {

	img {
		margin: {
			top: em(30px);
		}
	}
	padding-bottom: 2em;
}

// Individual page gallery
aside.page-gallery {
	margin: {
		bottom: em(40px);
	}

	figure.block-grid-item {
		padding: 0;

		a {
			overflow: hidden;
			padding: 0;

			img {
				@include transition(all 0.3s ease-in-out);
			}
			
			&:hover {

				img {
					transform: scale(1.1);
				}
			}
		}
	}

	div.wrap-gallery-link {
		@include section-padding(20px, 0);
	}
}

aside.secondary {
	@include section-padding(40px, 40px);

	h2 {
		color: $brand-primary;
		font: {
			family: $font-family-serif;
			size: em(44px);
		}
		padding: {
			bottom: em(15px, 44px);
		}
		position: relative;

		&:before {
			background: lighten($brand-primary, 10%);
			bottom: 0;
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			width: em(40px);
		}

		&:after {
			background: lighten($brand-primary, 10%);
			bottom: 0;
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			width: em(130px);
		}
	}
}

section.contextual-nav,
aside.news-sidebar,
aside.merchandise-sidebar {
	@include section-padding(30px, 30px);

	nav {
		margin: {
			bottom: 3em;
		}

		ul {

			li {
				margin: {
					bottom: em(5px);
				}

				a {
					color: $text-color;
					font: {
						size: em(14px);
					}

					i {
						padding-left: em(6px);
					}

					&:hover {
						color: $brand-primary;
					}
				}

				ul {
					padding: {
						left: em(20px);
					}

					li {

						a {
							font: {
								size: em(13px);
							}

							i {
								padding-left: em(6px);
							}
						}
					}
				}

				&.active {
					a {
						color: $brand-primary;
					}

					li {
						a {
							color: $text-color;		
						}

						&.active {
							a {
								color: $brand-primary;
							}
						}
					}
				}

				span.post-date {
					color: $gray-light;
					font: {
						size: em(13px);
					}
				}

				span.count {
					color: $gray-light;
				}
			}
		}
		
		// Indicators for collapsing archive
		&.years {
			
			li.year,
			li.month {
				
				a {

					&:after {
						content: "\f106";
						font-family: FontAwesome;
						font-weight: normal;
						padding: {
							left: em(5px);
						}
					}

					&.collapsed {
						&:after {
							content: "\f107";
						}
					}
				}
			}

			li.article-link {

				a {

					&:after {
						content: "\f105";
						font-family: FontAwesome;
						font-weight: normal;
						padding: {
							left: em(5px);
						}
					}
				}
			}
		}
	}
}

// Style for all tiles within listing templates
ul.entry-list {
	margin: {
		top: em(50px);
	}

	li.article {
		margin: {
			bottom: em(30px);
		}

		article {
			background: $neutral;
			border: 1px solid lighten($gray-light, 30%);
			position: relative;

			a {
				display: block;
				padding: {
					bottom: em(60px);
				}

				figure {
					overflow: hidden;

					img {
						@include transition(all 0.3s ease-in-out);
					}
				}

				h3 {
					@include transition(all 0.3s ease-in-out);

					color: $text-color;
					font: {
						size: em(18px);
						style: normal;
						weight: 700;
					}
					margin: em(20px, 18px) em(20px, 18px) em(15px, 18px);
				}

				p {
					color: $text-color;
					font: {
						size: em(14px);
					}
					margin: 0 em(20px);
				}

				span {
					@include transition(all 0.3s ease-in-out);

					background: $brand-primary;
					bottom: -1px;
					color: $neutral;
					display: inline-block;
					font: {
						size: em(14px);
					}
					line-height: em(32px, 14px);
					padding: {
						left: em(10px, 14px);
						right: em(10px, 14px);
					}
					position: absolute;
					right: -1px;
				}

				&:hover {

					figure {

						img {
							transform: scale(1.1);	
						}
					}

					h3 {
						color: $brand-primary;
					}

					span {
						background: darken($brand-primary, 15%);
					}
				}
			}
		}

		// Fixes issues with masonry not filling correctly at certain sizes when using the bootstrap column sizes
		&.col-xs-6 {
			width: 49.5% !important;
		}

		@media (min-width: $screen-md-min) {
			
			&.col-md-2 {
				width: 16% !important;
			}
			
			&.col-md-3 {
				width: 33% !important;
			}

			&.col-md-4 {
				width: 24.9% !important;
			}
		}

		@media (min-width: $screen-lg-min) {

			&.col-lg-4 {
				width: 24.9% !important;
			}
		}
	}
}

ul.product-list {

	li.article {

		article {

			a {
				display: block;
				padding: {
					bottom: em(0);
				}
				position: relative;

				h3 {
					@include transition(all 0.3s ease-in-out);
					@include center-h--unk;

					color: $brand-primary;
					font: {
						size: 16px;
						weight: bold;
					}
					margin: 0;
					opacity: 0;
					text-align: center;
					width: 100%;
				}

				figure {
					overflow: hidden;

					img {
						@include transition(all 0.3s ease-in-out);
					}
				}

				&:hover {

					h3 {
						opacity: 1.0;
					}

					figure {

						img {
							transform: scale(1.1);
							opacity: 0.3;
						}
					}
				}
			
				@media (min-width: $screen-md-min) {
					
					h3 {
						font: {
							size: 19px;
						}
					}
				}
			}
		}
	}
}

// News article page
body.newsArticle {
	
	p.articleMeta {
		font: {
			size: em(14px);
		}
		margin: {
			top: 1em;
		}
	}
}

// FAQs
ul.faqs {
	
	a.faqTrigger {
		display: block;
		margin: {
			bottom: 1em;
		}

		&:after {
			content: "\f106";
			font-family: FontAwesome;
			font-weight: normal;
			padding: {
				left: em(5px);
			}
		}

		&.collapsed {
			&:after {
				content: "\f107";
			}
		}
	}
}

// Contact page
aside.contact-forms {
	@include section-padding(60px, 60px);
	
	div.tab-pane {
		@include section-padding(30px, 30px);
	}
}

section.booking-promo {

	h3 {
		color: $neutral;
		font: {
			family: $font-family-serif;
			size: em(36px);
		}
		margin: 0;
		padding: {
			bottom: em(15px, 36px);
		}
		position: relative;

		&:before {
			background: lighten($neutral, 10%);
			bottom: 0;
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			width: em(40px);
		}

		&:after {
			background: lighten($neutral, 10%);
			bottom: 0;
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			width: em(130px);
		}
	}

	a.btn.btn-default {
		background: $brand-primary;
		border: 1px solid $neutral;
		color: $neutral;

		&:hover {
			background: darken($brand-primary, 10%);
		}
	}
}

section.newsletter-signup {
	position: relative;

	span.news-overlay {
		background: rgba($brand-secondary, 0.8);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	p {
		color: $neutral;
	}

	h3 {
		color: $neutral;
		font: {
			family: $font-family-serif;
		}
		margin: {
			bottom: 1em;
			top: 0;
		}
	}

	input {
		border-radius: em(2px);
	}
}

footer[role="contentinfo"] {
	@include section-padding(40px, 40px);

	.social-links,
	.footer-contacts {
		display: inline-block;
	}

}

/* $FORMS
/*------------------------------------*/
/*Registration from defaults */
.errorContainer{
	label{ 
		display:inline;
		font-weight:normal;
	}
	.error{
		color:#ff0000;
		font-size:80%;
		font-weight:normal;
		display:block;
		margin-top:2px;
	}
}

form.formbuilder-form {

	div.field {
		@extend .form-group;

		input {
			@extend .form-control;
		}

		textarea {
			@extend .form-control;
		}

		select {
			@extend .form-control;
		}
	}

	label {
		color: $gray-light;
		font: {
			weight: 600;
		}
	}
}



/* $TABLES
/*------------------------------------*/




/* $HELPER CLASSES
/*------------------------------------*/
//shows what size this busta is

#site-size-helper {
	height: 1.5em;
	color: green;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	z-index: 100;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: 
	absolute; 
	width: 1px; 
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

svg:not(:root) { 
	overflow: hidden; 
}

.valign {
	height: 100%;
	width: 100%;
	display: table !important;
	overflow: hidden;
}

.vac {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.hac{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

//mm menu fouc destroyer

#nav-mobile:not( .mm-menu ) {
	display: none;
}

// Remove padding and margin
.no-padding {
	padding: {
		left: 0 !important;
		right: 0 !important;
	}
}
.no-margin {
	margin: {
		left: 0 !important;
		right: 0 !important;
	}
}

// Block Grid
// Technique adapted from Foundation 5 for Bootstrap 3.
// https://github.com/zurb/foundation/blob/f755d8704123f86c281ede0b171881e2672f150d/scss/foundation/components/_block-grid.scss
// Original LESS Version by Christopher Mitchell (https://gist.github.com/ChrisTM)
// Converted to SCSS by Rasmus Jürs (https://github.com/Jursdotme)

[class*="block-grid-"] {
	display: block;
	// margin: -($grid-gutter-width/2);
	margin: 0;
	padding: 0;
	@include clearfix();
}

.block-grid-item {
	display: inline;
	margin: 0;
	padding: ($grid-gutter-width/2);
	height: auto;
	float: left;
	list-style: none;
}

@mixin block-grid ($per-row) {
	& > .block-grid-item {
		width: (100%/$per-row);

		$nth-equation: #{$per-row}n+'+'+1;
		&:nth-of-type(n) { clear: none; }
		&:nth-of-type(#{$nth-equation}) { clear: both; }
	}
}

@mixin block-grids($size) {
	.block-grid-#{$size}-1  { @include block-grid(1);  }
	.block-grid-#{$size}-2  { @include block-grid(2);  }
	.block-grid-#{$size}-3  { @include block-grid(3);  }
	.block-grid-#{$size}-4  { @include block-grid(4);  }
	.block-grid-#{$size}-5  { @include block-grid(5);  }
	.block-grid-#{$size}-6  { @include block-grid(6);  }
	.block-grid-#{$size}-7  { @include block-grid(7);  }
	.block-grid-#{$size}-8  { @include block-grid(8);  }
	.block-grid-#{$size}-9  { @include block-grid(9);  }
	.block-grid-#{$size}-10 { @include block-grid(10); }
	.block-grid-#{$size}-11 { @include block-grid(11); }
	.block-grid-#{$size}-12 { @include block-grid(12); }
}

@include block-grids(xs); 
@media (min-width: $screen-sm-min) { @include block-grids(sm) }
@media (min-width: $screen-md-min) { @include block-grids(md) }
@media (min-width: $screen-lg-min) { @include block-grids(lg) }

/* $LEGACY
/*------------------------------------*/

/* webkit, opera, IE9 */
::selection { background: $highlight; }
/* mozilla firefox */
::-moz-selection { background: $highlight; }
// remove dotted border on links forever
a:focus,
a:active {
	outline: none;
	-moz-outline-style: none;
}